extends ../layout

block content
  div.content
    h1 #{t('title.authors')}
    if authors.length
      ul
        each author in authors
          li
            a(href=author.url()) #{author.name()} 
            if author.day_of_birth !== null
              span #{new Date(author.day_of_birth)}
            span  - 
            if author.day_of_death !== null
              span #{new Date(author.day_of_death)}
    else
      span #{t('empty.authors')}
    if messages.error
      p.text-danger #{messages.error}
